body {
    font-family: sans-serif;
}
li {
background-color: aqua;
font-size: large;
}

body {
background-color: blue;
font-family: comic sans ms;
}

h1 {
background-color: white;
}

footer {
background-color: black;
}

.link-header {
background-color: azure;
}


